extends layout 

block content 
    h1!= title 
    h2!= item.name

    p #[strong Name:] !{item.name}
    p #[strong Description:] !{item.description}
    p #[strong Price:] £!{item.price}
    p #[strong Categories:] 
        each category, index in item.category
            a(href!=category.url) !{category.name}
            if index < item.category.length - 1
                |, 
    br
    a(href='/inventory/updateItem/' + item._id) Update
    |  | 
    a(href='/inventory/deleteItem/' + item._id) Delete